<html>
    <title>Anonymous FrontEnd</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="js/models/Settings.js"></script>
<script src="js/models/Conf.js"></script>
<script src="js/models/GroupItens.js"></script>
<script src="js/models/TaskGroup.js"></script>
<script src="js/controller/TaskGroupController.js"></script>
<script src="js/views/GroupItensView.js"></script>
<script src="js/views/SettingsView.js"></script>
<script src="js/hellper/SortObject.js"></script>
<script src="js/hellper/Cokkie.js"></script>
<script src="js/hellper/bootbox.all.min.js"></script>
<script src="js/models/Mensagem.js"></script>
<script src="js/models/Usuario.js"></script>
<script src="js/views/MensagemView.js"></script>
<script src="js/views/TaskGroupView.js"></script>
<script src="js/views/TypesView.js"></script>
<script src="js/views/ListBuscaJobs.js"></script>
<script src="js/service/TaskGroupService.js"></script>
<script src="js/service/SettingsService.js"></script>
<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
<!-- <link rel="stylesheet" href="css/bootstrap-theme.css"> -->
</head>

<body class="container">
 <div class="menu">
<a href="/resetPassword">Alterar Password</a>
</div>

    <div>
        <h2 id="taskBanner"></h2>
    </div>

    <div id="mensagemView">
        <p></p>
    </div>

    <form id="formJob" class="form" onSubmit="taskGroupController.adiciona(event)">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="taskName">Nome do JOB</label>
                <input type="text" id="taskName" placeholder="Nome" class="form-control"
                    oninput="taskGroupController.buscaJobs(this.value)" required>
            </div>

            <div class="form-group col-md-6">
                <label for="desc">Descrição</label>
                <input type="text" id="desc" placeholder="Descrição" class="form-control" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Novo Job</button>
            </div>
        </div>
        <div class="form-group">
            <ul class="list-group" id="listaPesquisaJobs"></ul>
        </div>
    </form>

    <h3>Tipos de tarefas</h3>
    <div>
        <ul class="list-group" id="typesView"></ul>
    </div>

    <form id="formItens" class="form" onSubmit="taskGroupController.adicionaItem(event)">

        <div>
            <h2 id="taskBannerType"></h2>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="confId">Nome da Tarefa</label>
                <input type="text" id="confId" placeholder="AJ_JOB_LOAD" class="groupItens form-control" required>
            </div>

            <div class="form-group col-md-2">
                <label for="taskOrder">Ordem de Execução</label>
                <input type="number" id="taskOrder" class="groupItens form-control" required>
            </div>

            <div class="form-group col-md-4">
                <label for="flagExec">Flag de Execução</label>
                <input type="text" id="flagExec" placeholder="E/I" class="groupItens form-control" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="jobUpdt">Update na parameters</label>
                <input type="text" id="jobUpdt" placeholder="Job para atualizar a parameters"
                    class="groupItens form-control">
            </div>
            <input type="text" id="taskType" class="conf" value="ORACLE_TO_ORACLE" hidden>

            <div class="form-group col-md-6">
                <label for="taskDesc">Descrição da task</label>
                <input type="text" id="taskDesc" placeholder="Descrição da task" class="conf form-control" required>
               
            </div>


            <div class="form-group col-md-12">
                <label for="command">Comando</label>
                <textarea id="command" placeholder="SELECT * FROM DUAL" rows="15" class="conf form-control"></textarea>
            </div>
        </div>

        <!--Começa Settings-->
        <div class="form-row">
            <div id="settingsView">
            </div>
            <!--Termina Settings-->
            <div class="form-group col-md-12">
                <button class="btn btn-primary" type="submit">Adiciona Tarefa</button>
                <button class="btn btn-primary" onClick="taskGroupController.cancela(event)">Cancela</button>
            </div>

        </div>

    </form>
    <h3 class="form-group col-md-12">Lista de tarefas</h3>
    <div>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nome Tarefa</th>
                    <th>Tipo</th>
                    <th>Ordem</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="groupItensView">
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

    <script>
        let taskGroupController = new TaskGroupController();
        let cookie = new Cookie();
    </script>

</body>

</html>