 <nav th:fragment="navBar" class="bg-slate-300">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <span class="text-orange-500 text-2xl ml-6">Anonymous</span>
          <div class="hidden md:block ml-6">
          <a href="/" class=" hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Process</a>
            <a href="parameters" class=" hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Parameters</a>
            <a href="control" class=" hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Control</a>
            <a href="#" class=" hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Jobs</a>
            <a href="#" class=" hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Exec</a>
            <a href="#" class=" hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Schedule</a>
          </div>
        </div>
        <div class="hidden md:block">
          <a href="resetPassword" class=" hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Change Password</a>
        </div>
      </div>
    </div>  
  </nav>