<html>
<title>Anonymous FrontEnd</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="js/hellper/SortObject.js"></script>
<script src="js/hellper/Cokkie.js"></script>
<script src="js/hellper/bootbox.all.min.js"></script>
<script src="js/models/ResetUsuario.js"></script>
<script src="js/models/Mensagem.js"></script>
<script src="js/service/UsuarioService.js"></script>
<script src="js/views/MensagemView.js"></script>
<script src="js/controller/UsuarioController.js"></script>
<link rel="stylesheet" href="css/tailwind.css">
<link rel="stylesheet" href="css/nav.css">
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
</head>

<body class="bg-slate-50">
<div th:replace="navBar :: navBar"></div>
<div class=" bg-slate-50 ">
    <div id="mensagemView">
        <p></p>
    </div>

    <form id="formJob" class="px-4 my-6 space-y-4 ml-52 mr-52" onSubmit="usuarioController.resetPassword(event)">
        <div >
            <div class="w-40">
                <label for="senha">Current password</label>
                <input type="password" id="senha" placeholder="Type your current password" class="border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-orange-500" required> </input>
            </div>
            <div class="w-40">
                <label for="novaSenha">New password</label>
                <input type="password" id="senhaNova" placeholder="Type your new password" class="border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-orange-500" required> </input>
            </div>
            <div class="w-40">
                <label for="novaSenha2">Confirm password</label>
                <input type="password" id="senhaNova2" placeholder="Confirm your new password" class="border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-orange-500" required> </input>
            </div>
            <div class="mt-7">
                <button class="bg-gray-300 px-4 py-1 rounded text-orange-400 border border-gray-500" type="submit">Submit</button>
            </div>
        </div>

    </form>
    <script>
        let usuarioController = new UsuarioController();
    </script>
</div>
</body>

</html>