<html>
<title>Anonymous FrontEnd</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="js/controller/SettingsController.js"></script>
<!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
<!-- <link rel="stylesheet" href="css/bootstrap-theme.css"> -->
<link rel="stylesheet" href="css/tailwind.css">
<link rel="stylesheet" href="css/nav.css">
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/add.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/pen.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/add.css' rel='stylesheet'>
</head>

<body class="bg-slate-50">
<div th:replace="navBar :: navBar"></div>
<div class="p-5 bg-slate-50">
      <h3 class="text-3xl font-semibold m-5">Settings</h3>
<div id="columns"></div>
<div class="flex space-x-4 m-5">
    <input class="border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-orange-500" type="text" id="process" placeholder="Filter by process">
    <input class="border border-gray-400 block py-2 px-4 w-full rounded focus:outline-none focus:border-orange-500" type="text" id="groupValue" placeholder="Filter by Group Value">
   
</div>
    <br><br>
    <div class="m-5 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="grid" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
            <tr id="headerRow"></tr>
        </thead>
        <tbody id="gridBody"></tbody>
    </table>
</div>
    <div class="flex space-x-4 ml-52 mr-52" id="editForm" style="display: none;">
        <h2 class="text-3xl font-semibold">Edit Item</h2>
        <form id="itemForm" class="px-4 my-6 mx-auto space-y-4">
            <input type="hidden" id="itemId">
            <div id="formFields"></div>
            <br>
            <button class="bg-gray-300 px-4 py-1 rounded text-orange-400 border border-gray-500" type="submit" id="saveBtn" >Save</button>            
        </form>

    </div>

    <script>     

        document.addEventListener('DOMContentLoaded', () => {
            const settingsController = new SettingsController();
            document.getElementById('process').addEventListener('input', settingsController.fetchData.bind(settingsController));
            document.getElementById('groupValue').addEventListener('input', settingsController.fetchData.bind(settingsController));

            settingsController.createColumns();
        });
    </script>
</div>
</body>

</html>